div {
    margin-top: 20px;
}

img{
 
    height: 100px;
    width: 100px;
    margin-left: 20px;
    
}

    .color img:hover{
    filter: grayscale(0%);
    filter: rgb(219, 186, 186);
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
    }

button{
    margin-right: 5px;
}

