<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/Style/login.css" />
    <script type="text/javascript" src="/Nodejs/Login.js" ></script>
  </head>
  <body>
    <form class="login-form" onsubmit="return Validate()" action="/Profile.html">
      <h1>Login</h1>

      User Name: <br />
      <input type="text" name="username" id="username" placeholder="Username" required/>
      <label id="error-label"></label>
      <br />

      Password: <br />
      <input type="password" name="password" id="password" placeholder="Password" required/>
      <label id="error-label1"></label>
      <br />
      
      <p>
        <button type="submit">Login</button>
        <a href="/index.html">Sign up</a>
      </p>
    </form>
  </body>
</html>
