.row{
    display: flex; 
    background-color:beige; 
    margin-top: 0%;  
}

h2{
    margin-top: 0px;
    background-color: rgb(206, 183, 169);
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 0px;
}

